html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body#index-body {
    background-image: url("https://images.unsplash.com/photo-1484544808355-8ec84e534d75?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2266&q=80");
    background-position: center top;

}

.container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

/* Index page */
.jumbotron {
    display: block;
    text-align: center;
    background: rgba(0, 0, 0, 0.4); /* Black background with 0.5 opacity */
    color: white;
}

.form-group {
    align-content: center;
    text-align: center;
    margin: auto;
}

.form-control {
    width: 40%;
    margin: auto; /* set the field center */
}




/* Map page */

#map {
    z-index: 3;
    height: 100%;
}

#search-form {
    z-index: 12;
    position: absolute; /* Position the background text */
    /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.2); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
    margin-left: auto;
    margin-right: auto;
}

.form-inline {
    display: block;
    text-align: center;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto; 

/* list */
.col-6.col-md-4  {
    background-color: pink;
}
